<div class="col-md-8">
  <h2 class="pb-2 mt-4">
    <%= @blog.title %>
  </h2>

  <p>
    <%= @blog.topic.title %>
  </p>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

  <p>
    <%= markdown @blog.body %>
  </p>

  <%= render 'comments/comments_form' %>
  <div id='comments' data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
</div>