<div class="col-md-4">
  <div class="card shadow-sm" data-id="<%= portfolio_item.id %>">
    <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb'), width: "100%" %>
    <div class="card-body">
        <a href="<%= portfolio_show_path(portfolio_item) %>" class="stretched-link">
          <%= portfolio_item.title %>
        </a> - 
        <%= portfolio_item.subtitle %>
    </div>
  </div>
</div>