<div class="container portfolio-container mb-4">
    <div class="row">
        <div class="col-md-7">
            <%= image_tag @portfolio_item.main_image.to_s,  width: '100%' %>
        </div>
        <div class="col-md-5">
            <h1><%= @portfolio_item.title %></h1>

            <hr>

            <em><%= @portfolio_item.subtitle %></em>

            <p><%= @portfolio_item.body %></p>

            <hr>
            <h2><%= t('portfolio_item.technologies') %></h2>

            <% @portfolio_item.technologies.each do |t| %>
              <p><%= t.name %></p>
            <% end %>
            <% if logged_in?(:site_admin) %>
            <div>
            <%= link_to t('portfolio_item.edit'), edit_portfolio_path(@portfolio_item), class: 'btn btn-warning' %>
            </div>
            <% end %>
        </div>
    </div>
</div>